/* Author: Kevin Rothenbühler-Alarcon */

:root {
    --cardBackgroundColor: #f7f7f7;
    --cardTextInfoColor: rgba(0, 0, 0, 0.6);
    --headerBackgroundColor: rgb(209, 60, 60);
    --headerHeight: 46px;
    --footerBackgroundColor: #ccc;
    --thumbnailWidth: 280px;
    --thumbnailHeight: 158px;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 100%;
    min-height: 100vh;
    font-family: sans-serif;
    font-size: 16px;
}

h1 {
    margin-top: 0;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    background: rgb(209, 60, 60); /* IE Support */
    background: var(--headerBackgroundColor);
    z-index: 10000;
}

header.with-height {
    height: var(--headerHeight);
}

#logo {
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    color:#FFFFFF;
    background: Black;
    padding: 14px 40px 14px 20px;
    font: inherit;
    font-weight: bold;
    margin-right: 20px;
    transition: background-color 0.3s;
}

#logo::after {
    content: "";
    position: absolute;
    top: 0;
    display: inline-block;
    margin-left: 40px;
    border-left: 30px solid black;
    border-top: var(--headerHeight) solid var(--headerBackgroundColor);
    transition: border-left 0.3s
}

#logo:hover {
    background: var(--headerBackgroundColor);
}

#logo:hover:after {
    border-left: 30px solid var(--headerBackgroundColor);
}

.hidden {
    display: none!important;
}

.dropdown {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: 0;
    vertical-align: middle;
    text-align: right;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#connected-user {
    cursor: pointer;
    border: none;
    outline: none;
    color:#FFFFFF;
    background-color: inherit;
    padding: 14px 20px;
    font: inherit;
    transition: background-color 0.3s;
}

#connected-user::after {
    content: "";
    display: inline-block;
    margin-left: 10px;
    border-top: 10px white solid;
    border-left: 5px transparent solid;
    border-right: 5px transparent solid;
}

#connected-user:hover,
#connected-user:focus {
    background-color: #000000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    text-align: left;
    right: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.show {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.dropdown-content a:first-child {
    padding-top: 10px;
}

.dropdown-content a:last-child {
    padding-bottom: 10px;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: var(--headerBackgroundColor);
}

#page-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-top: calc(var(--headerHeight) + 20px);
    margin-bottom: 20px;
    padding: 0 10px;
    text-align: center;
    min-width: 350px;
}

.card {
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--cardBackgroundColor);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.card h2 {
    margin: 0;
}

.auth-form {
    width: 350px;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.form-content a {
    margin-top: 10px;
}

.form-content input{
    position: relative;
    width: 100%;
    border: 1px solid var(--footerBackgroundColor);
    font-size: 16px;
    padding: 10px;
    margin-bottom: -1px;
}

.form-content input:focus {
    z-index: 100; /* Allow the focus border to be displayed on top of other elements */
}

.form-content input.top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.form-content input.bottom {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 0;
}

.form-content button {
    margin-top: 20px;
    padding: 10px;
    height: auto;
    width: 100%;
    font-size: 18px;
    color: #fff;
    background-color: var(--headerBackgroundColor);
    border: 1px solid transparent;
    border-color: rgb(88, 18, 18);
    border-radius: 6px;
    cursor: pointer;
}

.error {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.success {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}

div.info {
    color: var(--cardTextInfoColor);
    margin-top: 10px;
}

div.info ul {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    list-style-type: none;
}

div.info li::before {
    content: "- ";
}

.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footerBackgroundColor);
    margin-top: auto;
    min-width: 350px;
    width: 100%;
    height: 60px;
}

#todo-list-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.todo-thumbnail {
    width: var(--thumbnailWidth);
    height: var(--thumbnailHeight);
    margin: 10px 0;
    cursor: pointer;
    transition: scale 0.3s;
}

.todo-thumbnail:hover {
    scale: 1.08;
}

.thumbnail-title {
    margin: 0;
}

.thumbnail-content {
    margin-top: 20px;
    text-align: left;
    color: var(--cardTextInfoColor);
}

.created-at {
    margin-bottom: 5px;
}

.add-button {
    position: fixed;
    right: 5vw;
    bottom: 5vh;
    border: none;
    outline: none;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background: 
        var(--headerBackgroundColor) 
        url("data:image/svg+xml;charset=utf8,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg color='white'%3E%3Crect x='2px' y='10.5px' width='20px' height='3px' fill='currentColor'/%3E%3Crect x='10.5px' y='2px' width='3px' height='20px' fill='currentColor'/%3E%3C/g%3E%3C/svg%3E") 
        center 
        center 
        no-repeat;
    z-index: 100;
    box-shadow: 0px 0px 12px  rgba(0,0,0,0.8);
    cursor: pointer;
}

.todo-detail {
    min-width: 350px;
    width: calc(100% - 40px);
    margin: 0 20px;
}

.task-content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.task-content input{
    padding: 3px;
}

.task-content input[type=checkbox] {
    flex: none;
    width: auto;
    margin-right: 20px;
}

.task-content input[type=date] {
    flex: none;
    width: auto;
}

.todo-button .task-add-btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: auto;
    background: 
        var(--headerBackgroundColor) 
        url("data:image/svg+xml;charset=utf8,%3Csvg width='12px' height='12px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg color='white'%3E%3Crect x='2px' y='10.5px' width='20px' height='3px' fill='currentColor'/%3E%3Crect x='10.5px' y='2px' width='3px' height='20px' fill='currentColor'/%3E%3C/g%3E%3C/svg%3E") 
        center 
        center 
        no-repeat;
}

.task-content .task-content-button {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-top: 0;
    margin-left: auto;
    background: 
        var(--headerBackgroundColor) 
        url("data:image/svg+xml;charset=utf8,%3Csvg width='12px' height='12px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg color='white'%3E%3Crect x='2px' y='10.5px' width='20px' height='3px' fill='currentColor'/%3E%3C/g%3E%3C/svg%3E") 
        center 
        center 
        no-repeat;
}

.task-content-detail {
    width: 100%;
    margin-right: 20px;
}

.task-deadline {
    text-align: right;
}

.line-through {
    text-decoration: line-through;
}

.todo-button {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.tab {
    width: 100%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

.tab-header {
    display: flex;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

.tab-header a {
    text-decoration: none;
    background: rgb(209, 60, 60);
    background: var(--headerBackgroundColor);
    color: white;
    padding: 10px 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    transition: background-color 0.3s;
}

.tab-header .active a {
    background-color: #000000;
}

.tab-header a:hover {
    background-color: #000000;
}

.tab-header li {
    list-style-type: none;
}

.tab-contents {
    padding: 20px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    text-align: left;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

@media only screen and (min-width: 800px) {
    #todo-list-content {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .todo-thumbnail {
        margin: 10px;
    }

    .add-button {
        position: relative;
        width: var(--thumbnailWidth);
        height: var(--thumbnailHeight);
        transition: scale 0.3s;
        right: auto;
        bottom: auto;
        margin: 10px;
        border: solid 1px #ccc;
        border-radius: 10px;
        padding: 20px;
        background: 
            var(--cardBackgroundColor)
            url("data:image/svg+xml;charset=utf8,%3Csvg width='72px' height='72px' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg color='white'%3E%3Ccircle cx='24' cy='24' r='24' fill='rgba(209, 60, 60, 1)'/%3E%3Crect x='14px' y='22.5px' width='20px' height='3px' fill='currentColor'/%3E%3Crect x='22.5px' y='14px' width='3px' height='20px' fill='currentColor'/%3E%3C/g%3E%3C/svg%3E") 
            center 
            center 
            no-repeat;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .add-button:hover {
        scale: 1.08;
    }

    .todo-detail,
    .tab {
        width: calc(100% - 20vw);
        margin: 0 10vw;
    }

    .task-content-detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
    }

    .task-content-detail input[type=text] {
        flex: auto auto 100%;
        margin-right: 20px;
    }

    .task-deadline {
        text-align: left;
        flex: none;
    }

    .todo-form-button {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .todo-form-button button {
        max-width: 290px;
    }
}