<!-- Author: Kevin Rothenbühler-Alarcon -->

<h1>Welcome to Todo list.</h1> 
<div class="card auth-form">
    <h2>Please sign in</h2>
    <form id="login">
        <div class="form-content">
            <input class="top" type="text" name="username" id="username" placeholder="Username">
            <input class="bottom" type="password" name="password" id="password" placeholder="Password">
            <a id="forgot-password" href="">Forgot password?</a>
            <button type="submit" id="submit">Submit</button>
        </div>        
    </form>
    <a id="create-accout" href="/register">Create account</a>
</div>
