<h1>Welcome to Todo list.</h1> 
<div class="card">
    <h2>Account creation</h2>
    <form id="register">
        <div class="form-content">
            <input class="top" type="text" name="username" id="username" placeholder="Username" required>
            <input type="email" name="email" id="email" placeholder="Email" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input class="bottom" type="password" name="password2" id="password2" placeholder="Retype password" required>
            <button type="submit" id="submit">Submit</button>
        </div>        
    </form>
</div>