<!-- Author: Kevin Rothenbühler-Alarcon -->
<div class="tab-content" id="password">
    <input class="top" type="password" name="password" id="password" placeholder="Password" required pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[*!@#%^&(){}\[\]:;<>,\\.?/~_+\-=|]).{8,}$">
    <input class="bottom" type="password" name="password2" id="password2" placeholder="Retype password" required pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[*!@#%^&(){}\[\]:;<>,\\.?/~_+\-=|]).{8,}$">
    <div class="info">
        Password must at least contain:<br>
        <ul>
            <li>8 characters</li>
            <li>1 number</li>
            <li>1 capital letter</li>
            <li>1 special character</li>
        </ul>
    </div>
</div>