<!-- Author: Kevin Rothenbühler-Alarcon -->

<div class="task-content">
    <input type="checkbox" name="status" class="status">
    <div class="task-content-detail">
        <input type="text" name="description" class="description" placeholder="Description">
        <div class="task-deadline">
            <label for="deadline">Deadline</label><input type="date" name="deadline" class="deadline">   
        </div>                    
    </div> 
    <button class="task-content-button"></button>               
</div>