<!-- Author: Kevin Rothenbühler-Alarcon -->

<div class="task-content">
    <input type="checkbox" name="status" class="status">
    <div class="task-content-detail">
        <input type="text" name="description" class="description" placeholder="Description" required>
        <div class="task-deadline">
            <label>Deadline
                <input type="date" name="deadline" class="deadline">   
            </label>
        </div>                    
    </div> 
    <button class="task-content-button"></button>               
</div>