<!-- Author: Kevin Rothenbühler-Alarcon -->

<h1></h1> 
<div class="card todo-detail">
    <form id="todo">
        <div class="form-content">
            <input type="text" name="todoTitle" id="todoTitle" placeholder="Title" required>
            <div class="todo-button">
                <button class="task-add-btn"></button>
                <div class="todo-form-button">
                    <button type="submit" id="submit">Save</button>
                </div>    
            </div.todo-button>                    
        </div>
    </form>
</div>