<!-- Author: Kevin Rothenbühler-Alarcon -->

<div class="settings">
    <h1>User Settings</h1>
    <div class="tab">
        <ul class="tab-header">
            <li class="active"><a href="#username">Username</a></li>
            <li><a href="#password">Password</a></li>
            <li><a href="#email">Email</a></li>
            <li><a href="#delete">Delete</a></li>
        </ul>
        <div class="tab-contents">
            <form id="settings">
                <div class="form-content">

                    <button id="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
